.titulo{
    background-color: gray;
    display: flex;
    flex-direction: column;
}

.subtitulo{
    background-color: rgb(190, 186, 186);
}

.botones{
    display: flex;
    flex-direction: column;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
}